@layer components {
  .io-builder__actions {
    @apply iob-flex iob-items-center iob-justify-center iob-opacity-0 iob-pointer-events-none iob-absolute iob-right-0 iob-top-[10px] iob-z-10 iob-transition iob-gap-2;

    .io-builder-action {
      &:nth-child(1) {
        animation-delay: 0.025s !important;
      }

      &:nth-child(2) {
        animation-delay: 0.05s !important;
      }

      &:nth-child(3) {
        animation-delay: 0.075s !important;
      }
    }
  }

  .io-builder-action {
    svg {
      @apply iob-fill-white;
    }
  }

  .io-builder-action--move {
    @apply iob-bg-green iob-cursor-move hover:!iob-bg-green-100;
  }

  .io-builder-action--duplicate {
    @apply iob-bg-green hover:!iob-bg-green-100;
  }

  .io-builder-action--promote,
  .io-builder-action--unlink {
    @apply iob-bg-purple hover:!iob-bg-purple-100 !iob-text-white;
  }

  .io-builder-action--edit {
    @apply iob-bg-primary hover:!iob-bg-primary-100;

    &.is-active {
      @apply iob-pointer-events-none;
    }
  }

  .io-builder-action--delete {
    @apply iob-bg-danger hover:!iob-bg-danger-100;
  }
}
