@layer components {
  .io-builder--add-section {
    @apply iob-opacity-0 iob-scale-50 iob-pointer-events-none;

    .io-add-item {
      @apply iob-w-8 iob-h-8 !iob-flex iob-scale-100 iob-rounded-full iob-bg-dark;
      @apply after:iob-content-['+'] after:iob-block after:iob-text-white after:iob-font-display after:iob-font-bold after:iob-text-xl after:iob-absolute after:iob-left-1/2 after:iob-top-1/2 after:-iob-translate-x-1/2 after:-iob-translate-y-1/2 !important;
      @apply before:iob-content-[''] before:iob-bg-primary/25 before:iob-w-10 before:iob-h-10 before:iob-rounded-full before:iob-opacity-0 before:iob-transition-opacity before:iob-duration-500 before:iob-absolute before:iob-left-1/2 before:iob-top-1/2 before:-iob-translate-x-1/2 before:-iob-translate-y-1/2 !important;
      @apply hover:iob-bg-primary hover:!iob-scale-110 hover:before:iob-opacity-100 !important;
    }
  }
}
