@layer components {
  .iob-btn {
    @apply iob-no-underline iob-rounded-none iob-font-bold iob-text-sm iob-px-4 iob-py-2 iob-cursor-pointer iob-border-2 iob-duration-300 iob-transition-all !important;
  }

  .iob-btn-sm {
    @apply iob-py-2;
  }

  .iob-btn-primary {
    @apply iob-text-white iob-bg-primary iob-border-primary hover:iob-bg-primary-100 hover:iob-border-primary-100 !important;
  }

  .iob-btn-remove {
    @apply iob-text-danger iob-border-danger/[.4] iob-antialiased iob-appearance-none iob-bg-white iob-text-center hover:iob-bg-danger-100 hover:iob-text-white hover:iob-border-danger-100 !important;
  }

  .iob-btn-submit {
    @apply iob-my-4 iob-text-primary iob-bg-white hover:iob-bg-primary hover:iob-text-white hover:iob-border-primary !important;

    &[id^="edit-remove-button"],
    &[value="Remove"],
    &[name$="media-library-remove-button"] {
      @apply !iob-btn-remove;
    }
  }
}
