.io-builder--field-wrapper {
  .io-builder--wrapper.drag-highlighted-ghost.sortable-chosen {
    &::before {
      @apply iob-m-0;
    }
  }

  .drag-highlighted-ghost {
    @apply iob-relative iob-py-7 iob-border-y-2 iob-border-primary/[.5];

    &::before {
      @apply iob-content-[''] iob-absolute iob-ml-[50%] iob-inset-y-0 iob-bg-transparent -iob-z-1 -iob-left-1/2 iob-w-full;
    }

    .io-builder--wrapper,
    .io-builder--wrapper:hover {
      @apply iob-opacity-50;

      > * {
        @apply iob-opacity-0;
      }

      &::before {
        @apply iob-border-2 iob-border-dashed iob-border-info/[.95] iob-bg-info/[.15] iob-rounded-sm;
      }
    }

    .io-builder__actions,
    .io-builder--add-section {
      &:not(.io-builder-action--move) {
        @apply !iob-opacity-0 iob-pointer-events-none;
      }
    }
  }

  .sortable-drag {
    .io-builder__actions,
    .io-builder--add-section {
      &:not(.io-builder-action--move) {
        @apply !iob-opacity-0 iob-invisible iob-pointer-events-none;
      }
    }
  }
}
