.ui-autocomplete.ui-widget.ui-widget-content {
  @apply iob-z-1000 iob-border iob-bg-gray-100;

  li {
    .ui-menu-item-wrapper {
      @apply iob-w-full iob-text-dark iob-font-normal iob-border-none iob-m-0 iob-block iob-text-sm;

      &.ui-state-active {
        @apply iob-bg-primary/[.1] iob-text-primary iob-border-none iob-m-0;
      }
    }

    &:not(:last-of-type) {
      .ui-menu-item-wrapper {
        @apply iob-border-b iob-border-primary/[.1];
      }
    }
  }
}

.io-builder-form {
  .tabledrag-changed-warning {
    @apply iob-bg-info/[.1] iob-text-info iob-px-4 iob-py-2 iob-h-auto iob-min-h-0 iob-mt-4 iob-rounded-sm;

    &.messages--warning {
      @apply iob-bg-warning-100 iob-text-warning;
    }

    &.messages--error {
      @apply iob-bg-danger-100 iob-text-danger;
    }
  }

  .field--widget-entity-reference-autocomplete {
    .tabledrag-toggle-weight-wrapper {
      button {
        @apply !iob-mt-1 !iob-mb-0 iob-btn iob-btn-submit iob-btn-sm;
      }
    }

    .field-multiple-table {
      tr.draggable {
        @apply iob-transition-colors iob-rounded-sm;

        &.drag {
          @apply iob-bg-primary/[.1];
        }

        &.drag-previous {
          @apply iob-bg-warning/[.1];
        }
      }
    }
  }

  .form-autocomplete {
    @apply !iob-bg-white iob-bg-no-repeat;

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18.8' viewBox='0 0 18 18.8'%3e  %3cpath fill='%23e0e0e2' d='M17.8,17.4l-3.6-3.6c1.4-1.5,2.2-3.4,2.2-5.6c0-4.5-3.7-8.2-8.2-8.2S0,3.7,0,8.2s3.7,8.2,8.2,8.2c1.8,0,3.4-0.6,4.7-1.5l3.7,3.7c0.3,0.3,0.8,0.3,1.2,0C18.1,18.3,18.1,17.7,17.8,17.4z M8.2,14.7c-3.6,0-6.5-2.9-6.5-6.5s2.9-6.5,6.5-6.5s6.5,2.9,6.5,6.5S11.8,14.7,8.2,14.7z'/%3e%3c/svg%3e") !important;
    background-position: right 1.125rem center !important;

    &:focus,
    &:active {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18.8' viewBox='0 0 18 18.8'%3e  %3cpath fill='%23b3bfe2' d='M17.8,17.4l-3.6-3.6c1.4-1.5,2.2-3.4,2.2-5.6c0-4.5-3.7-8.2-8.2-8.2S0,3.7,0,8.2s3.7,8.2,8.2,8.2c1.8,0,3.4-0.6,4.7-1.5l3.7,3.7c0.3,0.3,0.8,0.3,1.2,0C18.1,18.3,18.1,17.7,17.8,17.4z M8.2,14.7c-3.6,0-6.5-2.9-6.5-6.5s2.9-6.5,6.5-6.5s6.5,2.9,6.5,6.5S11.8,14.7,8.2,14.7z'/%3e%3c/svg%3e") !important;
    }
  }

  .ck.ck-toolbar.ck-toolbar_grouping > .ck-toolbar__items {
    @apply !iob-flex-wrap iob-justify-between;
  }
}
