.media-library-widget-modal,
.ui-dialog.ui-corner-all {
  @apply iob-p-0 iob-bg-white iob-max-w-[90%] iob-border-none iob-shadow iob-animate-none iob-z-1000 !important;

  label {
    @apply iob-block iob-mb-2;
  }

  .form-submit {
    @apply iob-btn iob-btn-primary;
  }

  .js-media-library-view {
    .view-header {
      @apply iob-m-0;
    }
  }

  #media-library-messages {
    grid-column: 1 / span 4;
  }

  .js-media-library-menu {
    @apply iob-flex iob-pl-0 iob-list-none;

    li {
      a {
        @apply iob-border iob-py-4 iob-px-2 iob-inline-flex iob-font-bold !iob-font-display iob-transition-colors iob-text-sm;

        &.active {
          @apply iob-border-primary iob-text-white iob-bg-primary;
        }

        &:hover {
          &:not(.active) {
            @apply iob-text-primary;
          }
        }
      }

      &:first-of-type {
        a {
          @apply iob-rounded-l-sm;
        }
      }

      &:last-of-type {
        a {
          @apply iob-rounded-r-sm;
        }
      }
    }
  }

  form[id^="media-library-add-form-oembed"] {
    [type="submit"] {
      @apply iob-btn iob-btn-submit !iob-mt-0;
    }

    .image-widget {
      @apply iob-flex iob-flex-col;
    }
  }

  .form-item {
    .description {
      @apply iob-mt-2;
    }
  }

  div[role="alert"] {
    @apply iob-bg-danger-100/[.15] iob-text-danger-100 iob-p-4 iob-rounded;
  }

  .ui-dialog-content {
    @apply iob-bg-white iob-p-8 !iob-font-normal;

    > a {
      @apply iob-p-12 iob-text-center iob-flex iob-flex-col iob-justify-center iob-items-center iob-border-2 iob-font-display iob-no-underline iob-text-dark iob-rounded-sm iob-transition-colors iob-text-sm;

      &:hover {
        @apply iob-border-primary iob-text-primary;
      }
    }
  }

  .ui-widget-content {
    @apply iob-text-dark;

    .form-file {
      @apply iob-max-w-full iob-mb-2 iob-p-3 iob-transition-all iob-text-gray-500 iob-border iob-rounded-sm iob-bg-white/[.25] iob-shadow iob-text-sm;

      &:focus,
      &:active {
        @apply iob-shadow-primary iob-border-primary iob-outline-0;
      }
    }

    .description {
      @apply iob-text-xs;
    }

    .views-element-container {
      header {
        @apply iob-flex iob-justify-end iob-mb-2;

        a {
          @apply iob-text-xs iob-bg-white iob-border iob-border-primary iob-py-2 iob-px-4 iob-no-underline !iob-ml-0 iob-transition-colors;

          &.is-active {
            @apply iob-text-white iob-bg-primary iob-border-primary;
          }

          &:hover {
            &:not(.is-active) {
              @apply iob-bg-primary/[.15] iob-text-primary;
            }
          }

          &:first-of-type {
            @apply iob-rounded-l;
          }

          &:last-of-type {
            @apply iob-rounded-r;
          }
        }
      }
    }

    .views-exposed-form {
      @apply iob-flex iob-flex-wrap iob-mb-8 iob-items-end iob-gap-2 !iob-border-none;

      .form-submit {
        @apply !iob-h-[50px];
      }
    }

    .views-form form,
    .media-image-edit-form {
      @include rfs(13px); /* stylelint-disable-line at-rule-no-unknown */

      [type="submit"] {
        /* stylelint-disable-next-line at-rule-no-unknown */
        @extend .io-btn-submit;
      }

      &[id^="views-form-media-library-widget-remote-video"] {
        .js-media-library-item {
          .views-field-rendered-entity {
            @apply iob-pointer-events-none;
          }
        }
      }

      &[id^="views-form-media-library-widget-image"],
      &[id^="views-form-media-library-widget-remote-video"] {
        @apply iob-grid iob-grid-flow-row-dense iob-gap-2 md:iob-grid-cols-2 lg:iob-grid-cols-3 xl:iob-grid-cols-4;

        .js-media-library-item {
          @apply iob-justify-center iob-p-3 iob-align-top iob-outline-0 iob-bg-white iob-relative iob-rounded iob-overflow-hidden;

          &.media-library-item--disabled {
            @apply iob-pointer-events-none iob-opacity-50 iob-transition-opacity;
          }

          article {
            @apply iob-pb-6;

            div:last-of-type {
              @apply iob-px-6 iob-py-0;
            }
          }

          &:hover,
          &.checked {
            &::before {
              @apply iob-z-10 iob-rounded iob-pointer-events-none;
            }
          }

          &:hover {
            &:not(.checked) {
              &::before {
                @apply iob-border-2 iob-border-primary/[.3];
              }
            }
          }

          &.checked {
            &::before {
              @apply iob-border-primary;
            }
          }

          &::before {
            @apply iob-content-[''] iob-absolute iob-top-[7px] iob-left-[7px] iob-w-[calc(100%-16px)] iob-h-[calc(100%-16px)] iob-transition-colors iob-pointer-events-none iob-border;
          }

          .views-field-media-library-select-form {
            @apply iob-absolute iob-z-1 iob-top-4 iob-left-4 iob-block;

            input[type="checkbox"] {
              @apply iob-w-6 iob-h-6;
            }
          }

          .views-field-rendered-entity {
            @apply iob-overflow-hidden iob-h-full iob-cursor-pointer;

            .js-media-library-item-preview {
              @apply iob-pb-6;

              .field--type-image {
                @apply iob-overflow-hidden iob-text-center iob-bg-gray-100;

                img {
                  @apply iob-h-[180px] iob-object-contain iob-object-center iob-max-w-full;
                }
              }
            }
          }
        }
      }

      &[id^="views-form-media-library-widget-table-image"],
      &[id^="views-form-media-library-widget-table-remote-video"] {
        .media-library-item--disabled {
          @apply iob-opacity-50 iob-transition-opacity;
        }

        table {
          @apply iob-w-full iob-m-0 iob-mb-4 iob-border-collapse iob-border;

          th,
          td {
            @apply iob-p-6 iob-text-left iob-align-middle iob-table-cell;
          }

          thead {
            @apply iob-table-header-group iob-border-inherit;

            > tr {
              @apply iob-border-b;
            }

            th {
              @apply iob-border-none iob-bg-gray-100 iob-font-bold iob-transform-none iob-font-display;
            }
          }

          tbody {
            @apply iob-table-row-group iob-border-inherit;

            tr {
              @apply iob-py-1 iob-px-2 iob-border-b;

              .views-field-thumbnail__target-id {
                @apply iob-max-w-[20%];
              }
            }

            .media-library-item {
              @apply iob-relative;
            }
          }
        }
      }
    }
  }

  .js-media-library-add-form {
    @apply iob-bg-gray-100 iob-p-4 iob-border iob-mb-8;
  }

  .ui-dialog-buttonpane {
    @apply iob-mt-0 iob-p-8 iob-flex iob-gap-4 iob-flex-col iob-bg-gray-100 md:iob-flex-row md:iob-items-center;

    .form-actions {
      @apply iob-order-1 iob-float-none iob-inline-flex;

      button {
        @apply iob-btn iob-btn-primary;
      }
    }

    .media-library-selected-count {
      @apply iob-order-2 iob-inline-flex iob-ml-auto;
    }
  }

  .js-media-library-add-form-added-media {
    @apply iob-m-0 iob-p-0 iob-outline-0 iob-list-none;

    li {
      @apply iob-relative iob-flex iob-flex-col iob-py-4 iob-px-0 iob-border iob-outline-0;

      &:first-of-type {
        @apply iob-py-0;
      }

      &:last-of-type {
        @apply iob-border-b-0 iob-pb-0;
      }

      div {
        @apply iob-mb-4;
      }

      .form-submit {
        @apply iob-self-start iob-btn iob-btn-remove;
      }
    }
  }

  /* .ui-dialog-titlebar-close {
    @apply iob-w-10 iob-h-10 iob-bg-transparent iob-rounded-full iob-right-4 iob-m-0 -iob-ml-5 iob-border-2 iob-border-white/[.25] iob-transition-colors;

    .ui-icon-closethick {
      @apply iob-bg-none iob-w-10 iob-h-10 iob-left-2 iob-top-2;

      &::before,
      &::after {
        @apply iob-absolute iob-content-[''] iob-h-5 iob-w-1 iob-bg-white iob-left-5 iob-top-2.5 iob-transition-transform;
      }

      &::before {
        @apply iob-rotate-45;
      }

      &::after {
        @apply -iob-rotate-45;
      }
    }

    &:hover {
      @apply iob-border-white/[.5];

      .ui-icon-closethick {
        &::before {
          @apply iob-rotate-90;
        }

        &::after {
          @apply -iob-rotate-90;
        }
      }
    }

    &:focus {
      @apply iob-outline-0;
    }
  }
  */

  .views-field-media-library-select-form {
    .custom-control {
      &.custom-checkbox {
        &::before,
        &::after {
          @apply iob-hidden;
        }

        .custom-control-input {
          @apply iob-relative iob-z-1 iob-opacity-100;
        }
      }
    }
  }

  nav[role="navigation"] {
    ul {
      @apply iob-my-4 iob-mx-0 iob-p-0 iob-clear-both iob-text-sm !important;

      li {
        @apply iob-inline-block iob-m-0 iob-py-0 iob-px-2 iob-text-dark iob-text-base !important;

        a {
          @apply iob-pt-0 iob-pr-2 iob-pb-1 iob-pl-0 iob-transition-colors iob-no-underline iob-border-b-2 iob-font-medium !important;
        }

        &.is-active {
          @apply !iob-font-bold;
        }

        a[rel="next"],
        a[rel="prev"] {
          @apply iob-border-b-0 iob-text-primary;

          &:hover {
            @apply iob-text-primary-100;
          }
        }
      }
    }
  }
}
