@layer components {
  .io-builder--placeholder {
    .io-builder--add-section {
      @apply iob-opacity-100 iob-pointer-events-auto -iob-translate-x-1/2 -iob-top-[18px];

      &.below {
        @apply iob-top-1/2 iob-bottom-auto -iob-translate-x-1/2 -iob-translate-y-1/2 iob-scale-100 !important;
      }
    }
  }
}
