@layer components {
  .io-builder-panel {
    &__body {
      form {
        @apply iob-h-full iob-flex iob-flex-col;
      }

      label,
      legend {
        @apply iob-mb-2 iob-block iob-font-semibold;
      }

      summary {
        @apply iob-bg-transparent iob-border-b iob-text-gray-400 iob-py-3 iob-pr-6 iob-transition-all iob-duration-300 iob-outline-0 iob-relative iob-list-none iob-cursor-pointer iob-font-semibold iob-font-display iob-text-base;

        &::-ms-expand {
          @apply iob-hidden;
        }

        &::-webkit-details-marker,
        &::marker {
          @apply !iob-hidden;
        }

        &:hover {
          @apply iob-text-dark;
        }

        &::before {
          @apply iob-content-[''] iob-left-auto iob-right-2 -iob-translate-y-1/2 iob-rotate-[135deg] iob-transition-all iob-duration-300 iob-origin-center iob-absolute iob-top-1/2 iob-block iob-w-[10px] iob-h-[10px] iob-border-t-2 iob-border-r-2 iob-border-current;
        }

        &::after {
          @apply iob-hidden;
        }
      }

      .js-form-type-checkbox {
        @apply iob-flex iob-items-center iob-gap-2;

        label {
          @apply iob-mb-0;
        }
      }

      .button {
        @apply iob-btn;
      }

      .form-item {
        @apply iob-my-4;
      }

      .form-item__label {
        @apply iob-mt-0 iob-text-sm;
      }

      .details--io-builder {
        @apply iob-shadow-none iob-block iob-my-2 iob-text-inherit iob-py-0 iob-px-4;

        &.field--type-language {
          .details-wrapper {
            @apply !iob-mx-0 iob-mt-3 iob-text-sm iob-animate-fade-in-down;

            .form-select {
              @apply !iob-w-full;
            }
          }
        }

        /* stylelint-disable-next-line prettier/prettier */
        &[open], .collapse-processed[open] {

          > summary {
            @apply iob-text-primary iob-border-b-primary iob-mb-2 !important;

            &::before {
              @apply iob-border-primary -iob-translate-y-1/2 iob-rotate-[315deg];
            }
          }
        }
      }

      .horizontal-tabs {
        @apply iob-border-none iob-block;

        .details--io-builder {
          @apply iob-p-0;
        }
      }

      .horizontal-tabs-list {
        @apply iob-flex iob-flex-wrap iob-border-gray-500 iob-bg-gray-100 iob-px-4 iob-py-0 iob-mx-0 iob-mb-0 !important;

        &::after {
          @apply !iob-hidden;
        }
      }

      .horizontal-tab-button {
        @apply iob-transition-all iob-duration-300 !important;

        &.selected {
          a {
            @apply iob-text-primary before:iob-block !important;
          }
        }

        a {
          @apply iob-rounded-none iob-text-dark iob-px-2 iob-py-3 lg:iob-px-4 iob-transition-colors !important;

          &::before {
            @apply iob-content-[''] iob-hidden iob-absolute iob-z-1 iob-border-b-[3px] iob-border-primary iob-bottom-0 iob-top-auto iob-inset-x-0 iob-h-[3px] !important;
          }

          &:hover {
            @apply iob-bg-primary/[.1] iob-text-primary !important;
          }
        }
      }

      .horizontal-tabs-panes {
        @apply !iob-pt-4;
      }

      .horizontal-tabs-pane {
        @apply iob-px-4;
      }

      .details-wrapper {
        @apply iob-mx-0 iob-text-sm;

        .details-wrapper {
          @apply iob-mt-3 iob-animate-fade-in-down;

          .text-full.io-builder-form {
            @apply iob-overflow-hidden;

            > .form-item {
              @apply iob-mt-0;
            }
          }
        }
      }
    }

    .form-submit {
      @apply iob-btn iob-btn-primary;
    }

    .form-submit[name$="remove-button"] {
      @apply iob-btn iob-btn-remove iob-self-start iob-my-2;
    }

    .js-media-library-item {
      @apply iob-mb-2;
    }

    .js-media-library-item-preview {
      @apply iob-my-2;
    }

    .form-required,
    .required-mark {
      &::after {
        @apply iob-content-['*'] iob-text-danger iob-ml-[3px] iob-font-normal;
      }

      .text-danger {
        @apply iob-hidden;
      }
    }

    .description {
      @apply iob-text-xs iob-text-gray-400;
    }

    .form-actions {
      @apply iob-sticky iob-mt-auto iob-w-full !iob-flex;

      .button,
      .actions-link {
        @apply iob-w-full;

        &.form-submit {
          @apply iob-btn iob-btn-primary iob-mt-auto;

          + .ajax-progress-throbber {
            @apply iob-bg-primary/[.8] iob-text-white iob-fixed iob-inset-0 iob-flex iob-items-center iob-justify-center iob-font-display iob-font-bold iob-animate-fade-in;
          }
        }
      }
    }

    iframe {
      @apply !iob-bg-white;
    }

    #field_image-media-library-wrapper,
    #field_header_image-media-library-wrapper {
      @apply iob-mt-8 iob-border iob-rounded-sm iob-p-6 iob-w-full iob-bg-gray-200 iob-text-sm;

      .field--type-image {
        @apply iob-my-2;
      }

      legend {
        @apply iob-border-b-2 iob-pb-3 iob-font-display iob-text-sm;
      }
    }

    [type="text"],
    [type="email"],
    [type="url"],
    [type="password"],
    [type="number"],
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="search"],
    [type="tel"],
    [type="time"],
    [type="week"],
    [multiple],
    textarea,
    select {
      @apply iob-w-full;
    }

    .fieldset-wrapper {
      @apply iob-flex iob-flex-col iob-gap-2;
    }
  }
}
