@layer components {
  .ui-dialog {
    &[aria-describedby="io-builder-dialog"] {
      @apply iob-bg-white iob-shadow-sm iob-border-none iob-p-0 !important;

      .ui-dialog-content {
        @apply iob-bg-white !iob-font-body iob-grid iob-gap-4 iob-grid-flow-row-dense iob-p-8 iob-rounded-b-md md:iob-grid-cols-2 lg:iob-grid-cols-4 !important;

        .io-add-item {
          @apply iob-p-4 iob-text-center iob-flex iob-flex-col iob-justify-center iob-items-center iob-border-2 iob-font-display iob-transition-colors iob-no-underline iob-text-dark iob-rounded-sm iob-font-bold iob-text-sm !important;

          &:hover {
            @apply iob-border-primary iob-text-primary;
          }
        }
      }
    }

    &[aria-describedby="io-builder-dialog"],
    &.media-library-widget-modal {
      &::before {
        @apply iob-content-[''] iob-inset-0 iob-fixed -iob-z-1 iob-bg-dark/[.8] !important;
      }

      .ui-dialog-content,
      .ui-dialog-titlebar {
        @apply iob-border-none;
      }

      .ui-dialog-titlebar {
        @apply iob-bg-primary iob-font-display iob-text-white iob-py-4 iob-px-8 iob-rounded-t-md !important;

        .ui-dialog-title {
          @apply iob-font-display;
        }
      }

      .ui-dialog-titlebar-close {
        @apply iob-w-10 iob-h-10 iob-bg-transparent iob-rounded-full iob-right-4 iob-m-0 iob-border-2 iob-border-white/[.25] !important;

        &:hover {
          @apply iob-border-white;
        }

        .ui-icon-closethick {
          @apply iob-w-10 iob-h-10 iob-top-1/2 iob-left-1/2 !important;

          background: none !important;

          &::before,
          &::after {
            @apply iob-content-[''] iob-absolute iob-h-[20px] iob-w-[2px] iob-bg-white iob-left-[19px] iob-top-[10px] iob-transition-transform !important;
          }

          &::before {
            @apply iob-rotate-45;
          }

          &::after {
            @apply -iob-rotate-45;
          }
        }
      }

      .ui-widget-content {
        @apply iob-text-dark;
      }
    }
  }

  .ui-dialog-content__confirm-delete a {
    @apply iob-btn iob-btn-remove;
  }
}
