@layer components {
  .io-builder--wrapper {
    @apply iob-relative;

    &:hover > .io-builder--add-section {
      @apply iob-opacity-100 iob-pointer-events-auto iob-scale-100 !important;
    }

    &:hover > .io-builder__actions {
      @apply iob-opacity-100 iob-pointer-events-auto !important;

      .io-builder-action {
        @apply !iob-inline-flex;
      }

      .io-builder--wrapper {
        @apply iob-opacity-0 iob-pointer-events-none !important;
      }
    }

    &.node {
      @apply iob-overflow-x-clip;

      & > .io-builder__actions {
        @apply iob-top-0 iob-right-auto iob-left-4;
      }
    }

    .io-builder--wrapper {
      @apply before:iob-content-[''] before:iob-absolute before:-iob-inset-x-[20px] before:-iob-inset-y-[10px] before:iob-w-[calc(100%+40px)] before:iob-h-[calc(100%+20px)] before:iob-pointer-events-none before:iob-border-2 before:iob-border-dashed before:iob-border-transparent before:iob-rounded-md before:iob-bg-transparent before:iob-transition;
      @apply hover:before:iob-border-primary/25 hover:before:iob-bg-primary/[.05] !important;

      &.media {
        @apply before:-iob-left-2.5 before:-iob-right-2.5 before:iob-w-[calc(100%+20px)];

        .io-builder__actions {
          @apply iob-absolute iob-left-1/2 iob-top-1/2 -iob-translate-x-1/2 -iob-translate-y-1/2 iob-right-auto iob-bottom-auto;
        }
      }

      /* Todo: fix this nesting (.io-builder--wrapper .io-builder--wrapper .io-builder--wrapper) */
      .io-builder--wrapper {
        @apply before:-iob-inset-x-2.5 before:iob-w-[calc(100%+20px)] before:iob-h-[calc(100%+10px)] before:-iob-inset-y-[5px];

        .io-builder__actions {
          @apply iob-right-auto iob-left-1/2 iob-top-1/2 -iob-translate-x-1/2 -iob-translate-y-1/2 iob-z-100;
        }

        .io-builder--add-section {
          @apply iob-top-[16px];
        }

        .io-builder--wrapper .io-builder__actions {
          @apply iob-top-[calc(50%-50px)] iob-z-1000;
        }
      }
    }

    /* todo: check if this is necessary */
    .field__items .field__item {
      @apply iob-relative;
    }
  }
}
