{% if attributes is empty %}
  {% set attributes = create_attribute([]) %}
{% endif %}

{% set attributes = attributes.addClass('io-builder--placeholder iob-relative iob-border-2 iob-border-dashed iob-border-primary/50 iob-bg-primary/[.05] iob-px-6 iob-py-8') %}

<div {{ attributes }}>
  {{ content }}
</div>
