{% set module_path = _self|split('/templates') %}
{% set toggle_tip = "Enable IO Builder"|t %}

{% if is_enabled %}
  {% set toggle_tip = "Disable IO Builder"|t %}
{% endif %}

<a class="io-builder--toggle-link iob-fixed iob-left-[20px] iob-bottom-[20px] iob-z-1000 -iob-indent-[999em] iob-w-[65px] iob-h-[44px] iob-rounded-[25px] iob-cursor-pointer iob-group {% if is_enabled %}iob-bg-primary{% else %}iob-bg-secondary{% endif%}"
   href="{{ url }}"
   data-tippy-content="{{ toggle_tip }}"
   aria-label="{{ toggle_tip }}"
>
  <span class="iob-absolute iob-left-0 iob-top-1/2 -iob-translate-y-1/2 iob-w-[38px] iob-h-[38px] iob-rounded-full iob-pointer-events-none iob-shadow-sm iob-flex iob-items-center iob-justify-center iob-bg-white {% if is_enabled %}iob-translate-x-[24px]{% else %}iob-translate-x-[3px]{% endif %}">{%- include module_path[0] ~ "/assets/img/logo-io.svg" ignore missing with {
      "img_classes": "iob-w-[24px] iob-transition group-hover:iob-fill-primary" ~ (is_enabled ? " iob-fill-primary" : " iob-fill-dark")
    } -%}</span>
</a>
