{%
  set classes = [
    'has-tooltip',
    'io-builder-action',
    'io-builder-action--' ~ key,
    'iob-hidden iob-text-center iob-m-0 iob-p-[7px] iob-rounded-full iob-animate-fade-in-up'
  ]
%}

{% if attributes is empty %}
  {% set attributes = create_attribute([]) %}
{% endif %}

{% set module_path = _self|split('/templates') %}
{% set attributes = attributes.addClass(classes) %}
{% set attributes = attributes.setAttribute('data-tippy-content', title) %}

{# io-builder-action--edit io-builder-action--move io-builder-action--duplicate io-builder-action--promote io-builder-action--unlink io-builder-action--delete #}
<a href="{{ url }}" {{ attributes }}>
  {%- include module_path[0] ~ "/assets/img/" ~ key ~ ".svg" ignore missing with {
    'img_classes': 'iob-w-[20px] iob-h-[20px] iob-transition'
  } -%}
</a>
