{%
  set positionClass = (position == 'top') ? 'top -iob-top-[25px]' : 'below -iob-bottom-[25px]'
%}

<div class="io-builder--add-section iob-absolute iob-left-1/2 -iob-translate-x-1/2 iob-z-100 iob-cursor-pointer iob-transition {{ positionClass }}">
  {{ link }}
</div>
