{% set module_path = _self|split('/templates') %}

<div id="io-builder-panel"
     class="io-builder-panel iob-fixed iob-w-full iob-h-screen iob-top-0 iob-left-0 iob-right-0 iob-bottom-0 iob-z-1000 iob-font-display iob-text-sm">
  <div class="iob-overflow-auto iob-absolute iob-w-[90%] iob-h-full iob-bottom-0 iob-top-0 iob-left-0 iob-bg-white iob-shadow iob-max-w-md iob-flex iob-flex-col iob-animate-slide-in-l">
    <div class="iob-flex iob-items-center iob-h-12 iob-shrink-0 iob-bg-primary-100 iob-text-white iob-px-4">
      <h3 class="!iob-mr-auto !iob-text-white iob-text-display iob-text-lg !iob-mb-0">{{ 'Edit'|t }}</h3>
      <button data-close
              class="iob-group iob-w-8 iob-h-8 iob-flex iob-cursor-pointer iob-justify-center iob-items-center iob-ml-auto iob-rounded-full iob-bg-transparent iob-border-2 iob-border-white/[.5] iob-transition-all hover:iob-border-white hover:iob-bg-white" aria-label="close">
        <svg xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24"
             class="group-hover:iob-fill-primary iob-w-4 iob-h-4 iob-fill-white iob-transition-colors"
        >
          <path fill="none" d="M0 0h24v24H0z"/><path d="M13.8 12l5.5-5.4c.5-.5.5-1.3 0-1.8s-1.3-.5-1.8 0L12 10.2 6.6 4.8c-.5-.5-1.3-.5-1.8 0s-.5 1.3 0 1.8l5.5 5.4-5.5 5.4c-.5.5-.5 1.3 0 1.8s1.3.5 1.8 0l5.4-5.5 5.4 5.5c.5.5 1.3.5 1.8 0s.5-1.3 0-1.8L13.8 12z"/></svg>
      </button>
    </div>
    <div class="io-builder-panel__body iob-p-0 iob-flex iob-flex-1 iob-flex-col">
      {{ content }}
    </div>
  </div>
  <div data-overlay
       class="iob-h-full iob-w-full iob-fixed iob-bg-dark/50 iob-top-0 iob-left-0 iob-right-0 iob-bottom-0 -iob-z-1"></div>
</div>
